body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: rgba(255, 255, 255, 1);
    overflow-X: hidden;
}

.main {
    flex: 1;
    color: rgba(0, 0, 0, 1);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navbar,
.footer {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.9);
}

.navbar {
    flex-direction: column;
}

.footer {
    flex-direction: row;
    justify-content: center;
    padding: 1em 0;
}

#logo {
    width: 40em;
    height: auto;
    margin-bottom: 1em;
}

.navbar-list,
.footer-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
}

.navbar-list {
    font-weight: 700;
    justify-content: space-around;
    padding: 0em 2em;
    margin-top: auto;
    margin-bottom: 0.5em;
    width: calc(100% - 4em);
    font-size: 2.8ch;
}

.footer-list {
    justify-content: space-evenly;
    width: calc(100% - 4.5em);
    font-size: 1.8ch;
}

.footer-list,
.footer-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    padding-top: 0.2em;
}

.footer-list ul li {
    padding: 0.25em 0;
}

.navbar-list li a,
.footer-list li a {
    text-decoration: none;
    color: inherit;
    transition:
        transform 0.3s ease,
        color 0.3s ease;
    display: inline-block;
}

.navbar-list li a:hover,
.footer-list li a:hover {
    transform: scale(1.2);
    color: #11dce3;
}

.list-header {
    font-weight: 700;
    font-size: 1.2em;
}

.cta {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c3e50;
}
.cta a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
.cta a:hover {
    text-decoration: underline;
}
.links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.links a {
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}
.links a:hover {
    background-color: #2980b9;
}

.container {
    padding: 0 35em;
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 2.3ch;
}