{% extends "main/base.html" %}
{% load static %}

{% block content %}
{% if items %}
    {% include "shop/filter-bar.html" with form=form %}
    <div class="items-container">
        {% for item in items %}
            <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
                <div class="item">
                    {% if item.image %}
                        <img src="{% static 'items_images/'|add:item.image %}" alt="{{ item.title }}" class="item-image">
                        <h1 class="image-title">{{ item.title }}</h1>
                        <p class="item-price">${{ item.price }}</p>
                    {% endif %}
                </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock content %}