{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<section class="form-container">
    <form method="POST" action="{% url 'register' %}" class="form">
        <h2>Register</h2>
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors%}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% for e_field in field.errors %}
                    <p class="form-error">{{ e_field }}</p>
                {% endfor %}
            {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% endif %}
        {% endfor %}
        <button type="submit">register</button>
    </form>
</section>
{% endblock content %}