{% extends 'base/index.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<section class="form-container">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <form method="POST" action="{% url 'change_password' %}" class="form">
        <h2>Change Password</h2>
        {% csrf_token %}
        {% if form %}
            {% for field in form %}
                {% if field.errors %}
                    <label for="{{ field.id_for_label }}" class="form-error">{{ field.label }}</label>
                    {{ field|add_class:"form-error" }}
                    {% for e_field in field.errors %}
                    <p class="form-error">{{ e_field }}</p>
                {% endfor %}
                {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% endif %}
            {% endfor %}
            <button type="submit">Change password</button>
        {% else %}
            <p>{{ success }}</p>
        {% endif %}
    </form>
</section>
{% endblock %}